---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BaseLayout title="roughblog">
  <h1>roughblog</h1>

  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
